@font-face {
  font-family: 'DIN';
  src: url('../fonts/din/DINRegularAlternate.ttf') format('truetype'),
       url('../fonts/din/DINRegularAlternate.woff2') format('woff2'),
       url('../fonts/din/DINRegularAlternate.woff') format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din/DINBold.ttf') format('truetype'),
       url('../fonts/din/DINBold.woff2') format('woff2'),
       url('../fonts/din/DINBold.woff') format('woff');
  font-weight: bold;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din/DINMediumAlternate.ttf') format('truetype'),
       url('../fonts/din/DINMediumAlternate.woff2') format('woff2'),
       url('../fonts/din/DINMediumAlternate.woff') format('woff');
  font-weight: medium;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/din/DINLightAlternate.ttf') format('truetype'),
       url('../fonts/din/DINLightAlternate.woff2') format('woff2'),
       url('../fonts/din/DINLightAlternate.woff') format('woff');
  font-weight: lighter;
}
