button:focus {
  outline: 0;
}

.button.primary, .button.primary:focus {
  background-color: $brand-primary;

  &:hover {
    background-color: darken($brand-primary, 5%);
  }
}
.button.delete {
  background-color: $delete-red;
  margin-left: 12px;

  &:hover {
    background-color: darken($delete-red, 5%);
  }
}

.button.primary.inverse {
  background-color: white;
  color: $brand-primary;
  border: 1px solid $brand-primary;

  &:hover {
    background-color: $brand-primary;
    color: white;
  }
}

.text-button.primary {
  color: $brand-primary;
  display: inline-block;

  &:hover {
    color: darken($brand-primary, 5%);
  }
}

.text-button.delete {
  color: $delete-red;
  display: inline-block;
  margin-left: 12px;

  &:hover {
    color: darken($delete-red, 5%);
  }
}

.text-button.noedit {
  color: $brand-primary;
  display: block;
  margin-top: -16px;

  &:hover {
    color: darken($brand-primary, 5%);
  }
}

.side-bar .text-button.primary {
  margin: 0 0 24px 16px;
  color: white;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    color: darken(white, 5%);
  }
}

.text-button-group {
  float: right;
  display: block;
  margin: -8px 0 34px 0;
}

.button-back {
  position: absolute;
  left: 36px;
  top: 24px;

  img {
    width: 36px;
  }

  @media screen and (max-width: $break-large) {
    display: none;
  }
}
