.subjects h4 {
  text-transform: capitalize;
}

h5.inline-block {
  display: inline-block;
}

.row.adjusted {
  margin-top: 12px;
}

.main-list {
  list-style-type: none;
  margin: 0 0 32px;

  a {
    font-size: 20px;
    font-weight: 500;
    color: $charcoal;
  }

  .item-description {
    font-size: 18px;
    font-weight: normal;
    color: #555;
    display: block;
    margin: 0 0 12px 24px;
  }
}

.activities-container {
  margin-top: 12px;
}
.main-list.activities {
  font-size: 18px;
  font-weight: 500;
  color: $charcoal;

  .hours {
    font-weight: 600;
  }
}

.sub-item-compact {
  display: inline-block;

  a {
    color: $charcoal;
    font-size: 18px;
    font-weight: 500;
  }
}

a.sub-item-delete {
  color: $delete-red;
  font-weight: normal;
  margin-right: 6px;
  display: inline-block;

  &.select {
    position: absolute;
    top: 6px;
  }
}

.sub-item-compact:last-child {
  margin-bottom: 12px;
}

.sub-item-open {
  margin-bottom: 24px;
}

.site-form {
  margin-top: 12px;
}

.site-add {
  display: block;
  clear: both;
  margin-bottom: 12px;
  color: $brand-primary;

  &:hover {
    color: darken($brand-primary, 5%);
  }
  &.child {
    margin-left: 12px;
  }
}

.checkbox-list-fieldset {
  display: block;
  margin-bottom: 12px;

  label {
    margin-bottom: 12px;
    text-transform: capitalize;
  }

  .checkbox-list-item {
    margin: -12px 0;
    display: block;
  }
}

.activity-wrapper {
  margin-top: 12px;

  &.child {
    margin-left: 12px;
  }
}
.select-container {
  position: relative;
  clear: both;
  display: block;
}
.activity-select {
  display: inline-block;
  margin-left: 6px;
  float: right;
  width: calc(100% - 24px);
}

.submit-button {
  margin-top: 12px;
}
